.NavBox {
  position: sticky;
  z-index: 10;
  bottom: 2px;
  background-color:transparent;
  max-width: 1440px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.NavLink {
  color: white;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px blue;
  background-color: black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}


.NavLink:hover {
  box-shadow: 0 0 10px 0.5px red;
  color: red;
}


.NavActive {
  box-shadow: 0 0 10px 0.5px red; 
  color: red;
}